In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data.db')
table1 = "test_table"
table2 = "entry_cnt"
cmd = f'''
SELECT "{table1}".run_id,monitor_tag,workers,tasks_per_trial,trial,"{table1}".app_name,record_num FROM "{table1}"
JOIN "{table2}"
ON '{table1}'.run_id = '{table2}'.run_id
'''
tasks = pd.read_sql_query(cmd, conn)
tasks

,run_id,monitor_tag,workers,tasks_per_trial,trial,app_name,record_num
0,877d8b9f-8637-4407-9f8f-53499669a655,htex,1,10,1,noop,2
1,eb520051-90a6-449a-8feb-735ee8c36bb1,htex,1,10,1,sleep10ms,2
2,f9172dd4-f7c3-46a9-8d18-7a6bb72e1c06,htex,1,10,1,sleep100ms,2
3,e173305b-8059-453a-9274-64a4fa4980b2,diaspora,1,10,1,noop,2
4,0687f89a-9d8c-4272-b65e-93e55362d77c,diaspora,1,10,1,sleep10ms,2
...,...,...,...,...,...,...,...
475,7ea76e83-5156-4c44-9385-645022b511cb,htex,128,1280,10,sleep10ms,128
476,88f1dd9f-e338-4ca2-9172-81bdfb90af27,htex,128,1280,10,sleep100ms,134
477,9e1d4a31-21d2-4b97-a26b-4a938314d6c0,diaspora,128,1280,10,noop,181
478,165fa65b-c653-4039-8c3d-063fb285e75b,diaspora,128,1280,10,sleep10ms,187
479,08fde270-6adb-4993-a647-ab150a33ac86,diaspora,128,1280,10,sleep100ms,187